In [1]:
import pandas as pd
import os

ruta_source = r"C:\Users\MSII7\Documents\Jasef\Desercion\sources"
ruta_export = r"C:\Users\MSII7\Documents\Jasef\Desercion\export"
data_crm = "DATA FALTANTE CRM.csv"
data_admision = "DATA ADMISIÓN.xlsx"
ruta_data_crm =  os.path.join(ruta_source,data_crm)
ruta_data_admision = os.path.join(ruta_source,data_admision)

df_estudiantes = pd.read_csv(ruta_data_crm,delimiter=',', quotechar='"',on_bad_lines='skip')
print(df_estudiantes.head())

   Persona_CodPeople Persona_Genero Persona_FechaNacimiento  \
0        100002894.0              M              1994-08-10
1        100006719.0              M              1991-10-29
2        100009673.0              F              1993-08-30
3        100010409.0              F              1993-02-03
4        100012017.0              F              1995-05-27

  UbicGeog_Dist_Nombre     UbicGeog_Prov_Nombre UbicGeog_Dep_Nombre  \
0                  ATE                    LIMA                 LIMA
1          JESÚS MARÍA                    LIMA                 LIMA
2                COMAS                    LIMA                 LIMA
3                LURIN                    LIMA                 LIMA
4           VENTANILLA  PROV. CONST. DEL CALLAO              CALLAO

  PersonaFam_Relacion PersonaFam_Ocupacion  \
0                 NaN                  NaN
1                 NaN                  NaN
2                 NaN                  NaN
3                 NaN                  NaN
4                 NaN                  NaN

                     Colegio_IngresoPost
0     NUESTRA SEÑORA DE LA ESPERANZA-ATE
1                                    NaN
2                                    NaN
3    JOSE FAUSTINI SANCHEZ CARRION-LURIN
4  I.E.P. HEROES DEL PACIFICO-VENTANILLA

In [2]:
#Persona_CodPeople sea diferente de 'null'
df_estudiantes_filtrado = df_estudiantes[df_estudiantes['Persona_CodPeople'].notna()]

In [3]:
# Cambio los nombre de las columnas
df_estudiantes_filtrado.rename(columns={
    'Persona_CodPeople': 'IdAlumno',
    'Persona_Genero': 'Genero',
    'Persona_FechaNacimiento': 'FechaNacimiento',
    'UbicGeog_Dist_Nombre': 'Distrito',
    'UbicGeog_Prov_Nombre': 'Provincia',
    'UbicGeog_Dep_Nombre': 'Departamento',
    'PersonaFam_Relacion': 'FamiliarResponsable',
    'PersonaFam_Ocupacion': 'OcupacionResponsable',
    'Colegio_IngresoPost': 'ColegioProcedencia'
}, inplace=True)

print(df_estudiantes_filtrado.head())

      IdAlumno Genero FechaNacimiento     Distrito                Provincia  \
0  100002894.0      M      1994-08-10          ATE                    LIMA
1  100006719.0      M      1991-10-29  JESÚS MARÍA                    LIMA
2  100009673.0      F      1993-08-30        COMAS                    LIMA
3  100010409.0      F      1993-02-03        LURIN                    LIMA
4  100012017.0      F      1995-05-27   VENTANILLA  PROV. CONST. DEL CALLAO

  Departamento FamiliarResponsable OcupacionResponsable  \
0         LIMA                 NaN                  NaN
1         LIMA                 NaN                  NaN
2         LIMA                 NaN                  NaN
3         LIMA                 NaN                  NaN
4       CALLAO                 NaN                  NaN

                      ColegioProcedencia
0     NUESTRA SEÑORA DE LA ESPERANZA-ATE
1                                    NaN
2                                    NaN
3    JOSE FAUSTINI SANCHEZ CARRION-LURIN
4  I.E.P. HEROES DEL PACIFICO-VENTANILLA

C:\Users\MSII7\AppData\Local\Temp\ipykernel_18544\2613920594.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_estudiantes_filtrado.rename(columns={

In [4]:
df_estudiantes_filtrado = df_estudiantes_filtrado.drop(columns=['ColegioProcedencia'])
df_estudiantes_filtrado = df_estudiantes_filtrado.drop(columns=['OcupacionResponsable'])

In [5]:
#Agrego campo de Año de nacimiento
df_estudiantes_filtrado['AnioNacimiento'] = df_estudiantes_filtrado['FechaNacimiento'].str.split('-').str[0]

In [6]:
# Eliminar registros duplicados
df_estudiantes_filtrado = df_estudiantes_filtrado.drop_duplicates()

# Opcional: Resetear el índice si es necesario
df_estudiantes_filtrado = df_estudiantes_filtrado.reset_index(drop=True)

# Verifica el resultado
print(df_estudiantes_filtrado.head())

      IdAlumno Genero FechaNacimiento     Distrito                Provincia  \
0  100002894.0      M      1994-08-10          ATE                    LIMA
1  100006719.0      M      1991-10-29  JESÚS MARÍA                    LIMA
2  100009673.0      F      1993-08-30        COMAS                    LIMA
3  100010409.0      F      1993-02-03        LURIN                    LIMA
4  100012017.0      F      1995-05-27   VENTANILLA  PROV. CONST. DEL CALLAO

  Departamento FamiliarResponsable AnioNacimiento
0         LIMA                 NaN           1994
1         LIMA                 NaN           1991
2         LIMA                 NaN           1993
3         LIMA                 NaN           1993
4       CALLAO                 NaN           1995

In [7]:
# Primero, asegurémonos de que IdAlumno sea de tipo entero
df_estudiantes_filtrado['IdAlumno'] = df_estudiantes_filtrado['IdAlumno'].astype('int64')

# Agregar un número de fila (row number) particionado por IdAlumno
df_estudiantes_filtrado['RowNumber'] = df_estudiantes_filtrado.groupby('IdAlumno').cumcount() + 1

# Filtrar para quedarnos solo con el primer registro de cada IdAlumno
df_sin_duplicados = df_estudiantes_filtrado[df_estudiantes_filtrado['RowNumber'] == 1]

# Opcional: eliminar la columna RowNumber si ya no es necesaria
df_sin_duplicados = df_sin_duplicados.drop(columns=['RowNumber'])

In [8]:
df_sin_duplicados.to_csv(os.path.join(ruta_export,'DataMaestra_Estudiante.csv'),index=False)

In [9]:
# Filtrar el DataFrame para encontrar el registro específico
resultado = df_sin_duplicados[df_sin_duplicados['IdAlumno'] == 100141470]

# Verifica el resultado
print(resultado)

        IdAlumno Genero FechaNacimiento              Distrito Provincia  \
34295  100141470      F      2005-08-16  SAN MARTÍN DE PORRES     LIMA

      Departamento FamiliarResponsable AnioNacimiento
34295         LIMA               Madre           2005